:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  padding-bottom: 0%;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-family: playfair display, serif;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-family: poppins, sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-family: poppins, sans-serif;
  font-weight: regular;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.peace-sign {
  font-size: 40px;
  color: var(--primary-color);
}


